@import 'assets/colors';
@import 'assets/icon';

* {
    margin: 0;
}
body {
    max-width: 400px;
    margin: 0;
    font-family: 'Roboto';
}
.title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.4rem 0;
    & img {
        width: 50%;
    };
}
.localisation {
    height: 2.5rem;
    line-height: 2.5rem;
    padding: 0.5rem 0;
    margin-top: 0;
    background-color: $background ;
    box-shadow: inset #d9d9d9 0px 6px 5px;
    font-size: 1.2rem;
    & p {
        text-align: center;
    }
    & i {
        margin: 0.5rem;
    }
}
.explore {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    height: 15rem;
    background-color: $lightbackground;
    align-items: center;
    &-text {
        text-align: center;
        & h2 {
            margin-bottom: 1rem;
        }
    }
    &-btn{
        text-align: center;
        padding: 1rem 1.5rem;
        border-radius: 30px;
        margin: auto;
        color: white;
        background-image: $grade;
    }
}
.guide {
    margin: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    & h2 {
        text-align: center;
    }
    &-step {
        margin-top: 1rem;
        display: flex;
        align-items: center;
        background-color: $lightbackground;
        height: 5rem;
        border-radius: 1rem;
        & span {
            margin-left: -1rem;
            margin-right: 2rem;
        }
        & i {
            margin-right: 2rem;
        }
        &:hover {
            background-color: $primary-hover;
            & i {
                color: $primary;
            }
        }
    }
}
.restaurant {
    background-color: $lightbackground;
    display: flex;
    flex-direction: column;
    align-items: center;
    & h2 {
        align-self: flex-start;
        margin-bottom: 1.5rem;
    }
    &-card {
        margin-bottom: 1rem;
        width: 90%;
        background-color: white;
        border-radius: 1.5rem;
        &-img {
            max-height: 60%;
            width: 100%;
            & img {
                width: 100%;
                height: 15rem;
                object-fit: cover;
                border-radius: 1.5rem 1.5rem 0 0;
            }
        }
        &-body {
            display: flex;
            justify-content: space-between;
            padding: 1rem;
        }
    }
}
i.hearth-empty.fa-regular.fa-heart {
    display: contents;
    &:hover {
        display: none;
        @extend .fa-solid
    }
}
i.hearth-full.fa-solid.fa-heart{
    display: none;
}
.heart-icon {
    display: flex;
    align-items: center;
}
a {
    text-decoration: none;
    color: black;
}
footer {
    padding: 1rem;
    background-color: $darkbackground;
    color: white;
    & img {
        color: white;
    }
}