@import './assets/colors';
* {
    margin: 0;
}
body {
    max-width: 400px;
    margin: 0;
    font-family: 'Roboto';
}
.title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.4rem 0;
    & img {
        width: 50%;
    };
}
.localisation {
    padding: 0.5rem 0;
    margin-top: 0;
    background-color: #eaeaea ;
    & p {
        text-align: center;
    }
}
.explore {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    height: 15rem;
    background-color: #f6f6f6;
    align-items: center;
    &-text {
        text-align: center;
        & h2 {
            margin-bottom: 1rem;
        }
    }
    &-btn{
        text-align: center;
        padding: 1rem 1.5rem;
        border-radius: 30px;
        margin: auto;
        color: white;
    }
}
.guide {
    margin: 2rem 1rem;
}
