.btn {
  text-align: center;
  padding: 1rem 1.5rem;
  border-radius: 30px;
  margin: auto;
  color: white;
  background-image: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
  transition-property: background-image;
  transition: 300ms;
}
.btn:hover {
  background-image: linear-gradient(#ff94e1, #a06be1);
  box-shadow: 0.35rem 0.35rem 15px rgba(0, 0, 0, 0.35);
}

.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  animation: loader 0.6s;
  animation-delay: 1.5s;
  animation-fill-mode: both;
  z-index: 5;
  background-color: rgba(255, 255, 255, 0.95);
}

.delay-0 {
  animation-delay: 0s !important;
}

.delay-1 {
  animation-delay: 0.1s !important;
}

.delay-2 {
  animation-delay: 0.2s !important;
}

.delay-3 {
  animation-delay: 0.3s !important;
}

.delay-4 {
  animation-delay: 0.4s !important;
}

.delay-5 {
  animation-delay: 0.5s !important;
}

.delay-6 {
  animation-delay: 0.6s !important;
}

.delay-7 {
  animation-delay: 0.7s !important;
}

.delay-8 {
  animation-delay: 0.8s !important;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 200px;
  position: absolute;
  top: calc(50% - 100px);
  left: calc(50% - 100px);
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-image: linear-gradient(#FF79DA, #9356DC);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 5px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 5px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 75px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 145px;
  animation: lds-ellipsis3 0.6s infinite;
  z-index: -1;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(70px, 0);
  }
}
@keyframes loader {
  50% {
    transform: scale(1);
    border-radius: 0%;
  }
  100% {
    transform: scale(0);
    border-radius: 100%;
  }
}
@keyframes card-appear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.circle-numb {
  display: flex;
  width: 2rem;
  height: 2rem;
  color: white;
  background-color: #9356DC;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
}

.title {
  position: relative;
}
.title a {
  position: absolute;
  left: 1.5rem;
  font-size: 1.6rem;
}

img {
  width: 100%;
  max-height: 30rem;
  object-fit: cover;
}

.menu {
  position: relative;
  z-index: 1;
  background-color: #f6f6f6;
  border-radius: 2rem 2rem 0 0;
}
.menu-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -2rem;
  padding: 1rem;
}
.menu-title h1 {
  font-family: "Shrikhand", cursive;
  font-weight: 300;
}
.menu-part {
  margin: 1rem;
}
.menu-part h2 {
  border-bottom: solid 0.3rem #a9e0d1;
  width: 15%;
}
.menu-part-card {
  overflow: hidden;
  margin-top: 1rem;
  background-color: white;
  display: flex;
  justify-content: space-between;
  border-radius: 1.5rem;
  height: 5.3rem;
  transform: scale(0);
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  animation: card-appear 0.6s;
  animation-fill-mode: both;
}
.menu-part-card-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 1rem;
  flex: 1;
  height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu-part-card-desc h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
.menu-part-card-desc p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
.menu-part-card-select {
  margin-right: -4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-width: 4rem;
  background-color: #a9e0d1;
  transition: 1s;
}
.menu-part-card-select i {
  font-size: 2rem;
  color: white;
  transform: rotate(180deg);
  transition: 1s;
}
.menu-part-card-price {
  display: flex;
  justify-content: flex-start;
  align-items: end;
  margin-right: 0.9rem;
  margin-bottom: 0.2rem;
  min-width: 2rem;
}
.menu-part-card:hover .menu-part-card-select {
  margin-right: 0;
}
.menu-part-card:hover .menu-part-card-select i {
  transform: rotate(0deg);
}

.commande-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 9rem;
}

button {
  width: 50%;
  border: none;
}

* {
  margin: 0;
}

body {
  margin: 0;
  font-family: "Roboto";
}

.title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.4rem 0;
}
.title img {
  width: 50%;
}

.localisation {
  height: 2.5rem;
  line-height: 2.5rem;
  padding: 0.5rem 0;
  margin-top: 0;
  background-color: #eaeaea;
  box-shadow: inset #d9d9d9 0px 6px 5px;
  font-size: 1.2rem;
}
.localisation p {
  text-align: center;
}
.localisation i {
  margin: 0.5rem;
}

.explore {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  height: 15rem;
  background-color: #f6f6f6;
  align-items: center;
}
.explore-text {
  text-align: center;
}
.explore-text h2 {
  margin-bottom: 1rem;
}
.explore-btn {
  text-align: center;
  padding: 1rem 1.5rem;
  border-radius: 30px;
  margin: auto;
  color: white;
  background-image: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
  transition-property: background-image;
  transition: 300ms;
}
.explore-btn:hover {
  background-image: linear-gradient(#ff94e1, #a06be1);
  box-shadow: 0.35rem 0.35rem 15px rgba(0, 0, 0, 0.35);
}

.guide {
  margin: 2rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.guide h2 {
  text-align: center;
}
.guide-step {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  height: 5rem;
  border-radius: 1rem;
  transition: 500ms;
}
.guide-step span {
  margin-left: -1rem;
  margin-right: 2rem;
}
.guide-step i {
  transition: 500ms;
  margin-right: 2rem;
}
.guide-step:hover {
  background-color: #f4edfe;
}
.guide-step:hover i {
  color: #9356DC;
}

.restaurant {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
}
.restaurant h2 {
  align-self: flex-start;
  margin-bottom: 1.5rem;
  margin-left: 1rem;
}
.restaurant-card {
  position: relative;
  margin-bottom: 1rem;
  width: 90%;
  background-color: white;
  border-radius: 1.5rem;
}
.restaurant-card-new {
  position: absolute;
  right: 0.8rem;
  top: 0.8rem;
  border-radius: 0.1rem;
  background-color: #a9e0d1;
  color: #408a6e;
  padding: 0.3rem;
}
.restaurant-card-img {
  max-height: 60%;
  width: 100%;
}
.restaurant-card-img img {
  width: 100%;
  height: 15rem;
  object-fit: cover;
  border-radius: 1.5rem 1.5rem 0 0;
}
.restaurant-card-body {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

i.hearth-full.fa-solid {
  opacity: 0%;
  background-image: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  color: transparent;
}

.heart-icon {
  transition: 1s;
  position: relative;
  display: flex;
  align-items: center;
}
.heart-icon:hover i.hearth-full.fa-solid {
  opacity: 1;
}
.heart-icon i {
  position: absolute;
  right: 0rem;
  font-size: 1.5rem;
  transition: 500ms;
}
.heart-icon i:hover {
  color: transparent;
}

a {
  text-decoration: none;
  color: black;
}

footer {
  padding: 1.2rem;
  background-color: #353535;
  color: white;
}
footer i {
  width: 1rem;
  margin-right: 0.7rem;
}
footer a {
  color: inherit;
}

.logo-txt {
  font-size: 1.4rem;
  font-family: "Shrikhand", cursive;
  margin-bottom: 0.6rem;
}

@media screen and (min-width: 700px) {
  .title img {
    object-fit: contain;
    height: 4rem;
  }

  .restaurant {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0.5rem;
  }
  .restaurant h2 {
    width: 100%;
  }
  .restaurant-card {
    width: calc(50% - 1rem);
  }
}
@media screen and (min-width: 990px) {
  body {
    max-width: none;
  }

  .title img {
    object-fit: contain;
    height: 2rem;
  }

  .localisation {
    height: 2rem;
  }

  .guide {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 9rem;
  }
  .guide h2 {
    width: 100%;
  }
  .guide-step {
    width: calc(30% - 1rem);
  }

  .restaurant {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem;
    row-gap: 1rem;
  }
  .restaurant h2 {
    width: 100%;
  }
  .restaurant-card {
    width: calc(50% - 1.5rem);
  }

  .menu-section {
    display: flex;
    justify-content: space-between;
  }
  .menu-part {
    width: calc(33% - 1rem);
  }
}

/*# sourceMappingURL=style.css.map */
