.loader {
    position: fixed;
    height: 100%;
    width: 100%;
    animation:loader 0.6s;
    animation-delay: 1.5s;
    animation-fill-mode: both;
    z-index: 5;
    background-color: rgba($color: #ffffff, $alpha: 0.95);
}
.delay-0{
  animation-delay: 0s !important;
  }
.delay-1{
  animation-delay: .1s !important;
  }
.delay-2{
  animation-delay: .2s !important;
}
.delay-3{
  animation-delay: .3s !important;
}
.delay-4{
  animation-delay: .4s !important;
}
.delay-5{
  animation-delay: .5s !important;
}
.delay-6{
  animation-delay: .6s !important;
}
.delay-7{
  animation-delay: .7s !important;
}
.delay-8{
  animation-delay: .8s !important;
}
.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 200px;
    height: 200px;
    position: absolute;
    top: calc(50% - 100px);
    left: calc(50% - 100px);
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: $grade;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 5px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 5px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 75px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 145px;
    animation: lds-ellipsis3 0.6s infinite;
    z-index: -1;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(70px, 0);
    }
  }

  @keyframes loader {
    50% {
        transform: scale(1);
        border-radius: 0%;
    }
    100% {
        transform: scale(0);
        border-radius: 100%;
    }
  }

  @keyframes card-appear {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
