$primary: #9356DC; 
$secondary: #FF79DA;
$lightbackground: #f6f6f6;
$background: #eaeaea;
$primary-hover: #f4edfe;
$darkbackground :#353535;
$new-bg: #a9e0d1;
$new: #408a6e;

$title-font :"Shrikhand", cursive;


$grade: linear-gradient($secondary, $primary);
