body {
    max-width: none;
}
.title {
    & img {
        object-fit: contain;
        height: 2rem;
    }
}
.localisation {
    height: 2rem;
}
.guide {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 9rem;
    & h2 {
        width: 100%;
    }
    &-step {
        width: calc(30% - 1rem);
    }
}
.restaurant {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem;
    row-gap: 1rem;
    & h2 {
        width: 100%;
    }
    &-card {
        width: calc(50% - 1.5rem);
    }
}

.menu {
    &-section {
        display: flex;
        justify-content: space-between;
    }
    &-part {
        width: calc(33% - 1rem);
    }
}